PORT=3000
SUPABASE_URL=https://otmmnesfjqpkcvyxobsn.supabase.co/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im90bW1uZXNmanFwa2N2eXhvYnNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3ODAyMjksImV4cCI6MjEwMDM1NjIyOX0.2zm1EQBlueh6Y5AYZ8HjXr-wVVCl2wyV9dwcZ0PngRQ
